@model ResetPasswordViewModel

<h3>Şifrəmi Unutdum</h3>
 
<hr />
@if (ViewBag.State == null)
{
    <form asp-action="ResetPassword">
        <table>
            <tr>
                <td colspan="3"><div asp-validation-summary="All"></div></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input asp-for="Email" /></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Yeni Şifrə Tələbi Göndər" /></td>
            </tr>
        </table>
    </form>
}
else
{
    if (ViewBag.State)
    {
        @:<div class="alert-success">Məlumat göndərildi.</div>
    }
    else
    {
        @:<div class="alert-success">E-mail adresi tapılmadı!</div>
    }
}