@model UpdatePasswordViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form asp-controller="User" asp-action="Update" method="post">
                <div class="all-summary text-danger" asp-validation-summary="All"></div>
                
                <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <input asp-for="@Model.Password" type="password" class="form-control" >
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                
                <button type="submit" class="btn btn-primary">Güncəllə</button>
            </form>      
        </div>
    </div>
</div>
