<div class="footer bg-light" >
    <div class="row">
        <div class="col-md-9">
           <div >
               <a class="p-3" href="">Information</a>
               <a class="p-3" href="">Customers</a>
               <a class="p-3" href="">Company</a>
               <a class="p-3" href="">Contact</a>
           </div>
        </div>
       
        <p class="col-md-12 text-center">SecondShop E-commerce Site | &copy; 2022 | Site By  Jalal Khaligov | All Rights Reserved</p>
    </div>
</div>
